:root {
	--font-family: system-ui, sans-serif;

	--background-color: #fff;
	--text-color: #333;
	--text-color-link: #082840;
	--text-color-link-active: #5f2b48;
	--text-color-link-visited: #17050F;
}

/* Global stylesheet */
* {
	box-sizing: border-box;
}
html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
}
html {
	overflow-y: scroll;
}
header,
main,
footer {
	padding: .5rem;
	margin: 0 auto;
	max-width: 60rem;
}
footer {
	font-style: italic;
	font-size: 0.9375em; /* 15px /16 */
}
